{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sypflix</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='sypflix.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Sypflix</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{ render_nav_item('index', 'Home') }}
                    <li class="nav-item"><a class="nav-link" href="https://github.com/CS-180-Group-4/Movie-Recommendation-System" target="_blank">Repository</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2023–<script>document.write(new Date().getFullYear())</script> <a href="https://github.com/CS-180-Group-4">[CS 180] Group 4</a>
            </small>
        {% endblock %}
    </footer>
    
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {{ bootstrap.load_js() }}
    {% block scripts %}{% endblock %}

</body>
</html>
